<p id="notice"><%= notice %></p>
<h1><%= @coin.class.model_name.human %></h1>
<p>
  <strong><%= label_tag nil,  @coin.class.human_attribute_name(:description)%></strong>
  <%= text_field_tag nil,  @coin.description, class: "form-control", disabled: true %>
</p>

<p>
  <strong><%= label_tag nil,  @coin.class.human_attribute_name(:acronym)%></strong>
  <%= text_field_tag nil, @coin.acronym, class: "form-control", disabled: true %>
</p>

<p>
  <strong><%= label_tag nil,  @coin.class.human_attribute_name(:url_img)%></strong>
  <%= text_field_tag nil, @coin.url_img, class: "form-control", disabled: true %>
</p>

<p>
  <strong><%= label_tag nil,  @coin.class.human_attribute_name(:mining_type_id)%></strong>
  <%= text_field_tag nil, @coin.mining_type.description, class: "form-control", disabled: true %>
</p>
<%= link_to t('links.edit'), edit_coin_path(@coin), class:"btn btn-primary" %> |
<%= link_to t('links.back'), coins_path, class:"btn btn-danger" %>
